.link {
  stroke-opacity: 0.3;
  stroke-width: 1.5px;
  /* stroke: pink; */
  transition: 1.2s cubic-bezier(0.08, 0.32, 0.17, 0.93);  
}



.link.marriage {
   stroke-dasharray: 0,2 1;
}

/* .link {
  opacity: 0;
} */

.link.corule, .link.rule {
  opacity: 0;
}

.node circle {
  stroke: black;
  stroke-width: 2px;
  fill: white;
  transition: 1.2s cubic-bezier(0.08, 0.32, 0.17, 0.93);
}

.node:hover {
  cursor: pointer;
}

.node:hover text {
  cursor: default;
}

.node text {
  padding-left: 5px;
  font: 16px helvetica;
  display: none;
  fill: black;
  z-index: 1000;
  transition: 1.2s cubic-bezier(0.08, 0.32, 0.17, 0.93);  
}

#bg {
  width: 2500px;
  position: absolute;
  z-index: -50;
}

.bttn--container {
  display: flex;
}

